.Card {
  padding: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.Gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.Input {
  margin-left: 49rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
  padding: 1rem 5rem;
  border-radius: 10px;
  text-align: center;
  font-size: 1.2rem;
}